#movie-result {
  background: rgb(252, 170, 216);
  border: 5px solid rgb(177, 74, 132);
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#food-result {
  background: rgb(191, 238, 172);
  border: 5px solid rgb(96, 133, 82);
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  height: 5px;
  background-color: rgb(202, 200, 200);
}

h1 {
  text-align: center;
}
